#flash_message {
  background-color: #BBF;
  border: solid 3px #99F;
  padding: 10px;
}

#main {
  margin: 0 auto 40px;
  width: 800px;
  padding: 0px 20px 20px 20px;
  text-align: left;
}

.pokemon-container {
  border: solid 1px gray;
  display: inline-block;
  height: 220px;
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
  width: 150px;
}

.pokemon-container img {
  height: 96px;
  width: 96px;
}

.pokemon-container h3 {
  margin-top: 0;
}

.pokemon-type {
  font-weight: bold;
}

header {
  margin: 0 auto;
}

header h1 {
  font-size: 3em;
}
header img {
  height: 50px;
}

body {
  text-align: center;
}