#captured_pokemon {
  clear: both;
  margin-top: 15px;
}

#flash_message {
  background-color: #BBF;
  border: solid 3px #99F;
  padding: 10px;
}

#main {
  margin: 0 auto 40px;
  width: 800px;
  padding: 0px 20px 20px 20px;
  text-align: left;
}

#filters ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

#filters li{
  border: solid 1px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 5px;
}

.pokemon-container {
  border: solid 1px gray;
  display: inline-block;
  padding: 5px 0 7px;
  margin-bottom: 10px;
  text-align: center;
  width: 150px;
}

.pokemon-container img {
  height: 72px;
  width: 72px;
}

.pokemon-container h3 {margin-top: 0; }

.pokemon-type {font-weight: bold; }

.normal {color: #7a7a57 }
.fire {color: #cc6d29 }
.water {color: #5d81d6 }
.electric {color: #c4a526 }
.grass {color: #65a843 }
.ice {color: #87bfbf }
.fighting {color: #c03028 }
.poison {color: #a040a0 }
.ground {color: #ad9551 }
.flying {color: #8471bd }
.psychic {color: #de4f7a }
.bug {color: #909e1b }
.rock {color: #857329 }
.ghost {color: #5e4a80 }
.dragon {color: #7038f8 }
.steel {color: #9797ab }
.dark {color: #574438 }
.fairy {color: #d044d0 }

header img {height: 50px; }
header h1 {
  font-size: 3em;
  margin: 10px auto;
}
body {text-align: center; }
header {margin: 0 auto; }
h2{margin: 0 auto 10px;}
