<div id="main">
  <div id='captured_pokemon'>
    <h2>Captured Pokemon</h2>
    <% @free_pokemon.each do |pokemon|  %>
      <h3><%= pokemon.name %></h3>

    <% end %>
  </div>

  <hr/>

  <div id='free_pokemon'>
    <h2>Free Pokemon</h2>
    <% @captured_pokemon.each do |pokemon|  %>
      <div class='pokemon-container'>
        <h3><%= pokemon.name %></h3>
      </div>
    <% end %>
  </div>
</div>
